<?xml version="1.0" encoding="utf-8"?>
<Translations>
  <add key="OpenInDefaultTextEditor" value="Open in default text editor" />
  <add key="OpenFileLocation" value="Open file location" />
  <add key="FailedToOpen" value="Failed to open" />
  <add key="NotATouchstoneFile" value="Not a Touchstone file" />
  <add key="ParseFailed" value="Failed to parse Touchstone file" />
  <add key="NoDataPoints" value="No data points parsed" />
</Translations>
